
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.auth-form {
    background: white;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.auth-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.auth-form label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
}


.label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.auth-form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Mulish", serif;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-with-icon input {
    flex: 1;
    padding-left: 40px;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .toggle-icon {
    right: 10px;
    left: auto;
  }

.auth-form button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Mulish", serif;
}

.auth-form button:hover {
    background-color: #8e8a99;
}

.auth-form input:focus {
    border-color: #8e8a99;
    outline: none;
}
 
  .google-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    gap: 5px;
  }
  
  .google-signin:hover {
    background: #eaeaea;
  }

  .google-icon {
    height: 25px;
  }
  
  .signup-link {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  